
/.open
/.idea/
/Archive/
/assets/backup/
/assets/frame/
/assets/full/
/assets/unit/
/src/note.txt
/data/db-original/
/.vscode/
/assets/SIFStatic/unit/
/test/1.png
/test/4.png
/test/5.png
/assets/Fromieb/
*.ipynb
.ipynb_checkpoints
__pycache__/
